

<script>
{literal}
	$(function() {
	var $dialog = $('<div></div>')
		.html(SUGAR.language.get('app_strings', 'LBL_SEARCH_HELP_TEXT'))
		.dialog({
			autoOpen: false,
			title: SUGAR.language.get('app_strings', 'LBL_SEARCH_HELP_TITLE'),
			width: 700
		});
		
		$('.help-search').click(function() {
		$dialog.dialog('open');
		// prevent the default action, e.g., following a link
	});
	
	});
{/literal}
</script>
<div class="row">
  	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-advanced-search">
	<div class="">
	
      

	{counter assign=index}
	{math equation="left % right"
   		  left=$index
          right=$templateMeta.maxColumns
          assign=modVal
    }

	<div class="col-xs-12">
			<label for='name_advanced'>{sugar_translate label='LBL_NAME' module='Accounts'}</label>
		</div>
	<div class="form-item">
			
{if strlen($fields.name_advanced.value) <= 0}
{assign var="value" value=$fields.name_advanced.default_value }
{else}
{assign var="value" value=$fields.name_advanced.value }
{/if}  
<input type='text' name='{$fields.name_advanced.name}' 
    id='{$fields.name_advanced.name}' size='30' 
    maxlength='150' 
    value='{$value}' title=''      accesskey='9'  >
   	   	</div>
</div>
</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-advanced-search">
	<div class="">
	
      

	{counter assign=index}
	{math equation="left % right"
   		  left=$index
          right=$templateMeta.maxColumns
          assign=modVal
    }

	<div class="col-xs-12">
			<label for='website_advanced'>{sugar_translate label='LBL_WEBSITE' module='Accounts'}</label>
		</div>
	<div class="form-item">
			
	{if !empty($fields.website_advanced.value)}
	<input type='text' name='{$fields.website_advanced.name}' id='{$fields.website_advanced.name}' size='30' 
	   maxlength='255' value='{$fields.website_advanced.value}' title='' tabindex=''  >
	{else}
	<input type='text' name='{$fields.website_advanced.name}' id='{$fields.website_advanced.name}' size='30' 
	   maxlength='255'	   	   {if $displayView=='advanced_search'||$displayView=='basic_search'}value=''{else}value='http://'{/if} 
	    title='' tabindex=''  >
	{/if}

   	   	</div>
</div>
</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-advanced-search">
	<div class="">
	
      

	{counter assign=index}
	{math equation="left % right"
   		  left=$index
          right=$templateMeta.maxColumns
          assign=modVal
    }

	<div class="col-xs-12">
			<label for='phone_advanced'>{sugar_translate label='LBL_ANY_PHONE' module='Accounts'}</label>
    	</div>
	<div class="form-item">
			
{if strlen($fields.phone_advanced.value) <= 0}
{assign var="value" value=$fields.phone_advanced.default_value }
{else}
{assign var="value" value=$fields.phone_advanced.value }
{/if}  
<input type='text' name='{$fields.phone_advanced.name}' 
    id='{$fields.phone_advanced.name}' size='30' 
     
    value='{$value}' title=''      >
   	   	</div>
</div>
</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-advanced-search">
	<div class="">
	
      

	{counter assign=index}
	{math equation="left % right"
   		  left=$index
          right=$templateMeta.maxColumns
          assign=modVal
    }

	<div class="col-xs-12">
			<label for='email_advanced'>{sugar_translate label='LBL_ANY_EMAIL' module='Accounts'}</label>
    	</div>
	<div class="form-item">
			
{if strlen($fields.email_advanced.value) <= 0}
{assign var="value" value=$fields.email_advanced.default_value }
{else}
{assign var="value" value=$fields.email_advanced.value }
{/if}  
<input type='text' name='{$fields.email_advanced.name}' 
    id='{$fields.email_advanced.name}' size='30' 
     
    value='{$value}' title=''      >
   	   	</div>
</div>
</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-advanced-search">
	<div class="">
	
      

	{counter assign=index}
	{math equation="left % right"
   		  left=$index
          right=$templateMeta.maxColumns
          assign=modVal
    }

	<div class="col-xs-12">
			<label for='address_street_advanced'>{sugar_translate label='LBL_ANY_ADDRESS' module='Accounts'}</label>
    	</div>
	<div class="form-item">
			
{if strlen($fields.address_street_advanced.value) <= 0}
{assign var="value" value=$fields.address_street_advanced.default_value }
{else}
{assign var="value" value=$fields.address_street_advanced.value }
{/if}  
<input type='text' name='{$fields.address_street_advanced.name}' 
    id='{$fields.address_street_advanced.name}' size='30' 
     
    value='{$value}' title=''      >
   	   	</div>
</div>
</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-advanced-search">
	<div class="">
	
      

	{counter assign=index}
	{math equation="left % right"
   		  left=$index
          right=$templateMeta.maxColumns
          assign=modVal
    }

	<div class="col-xs-12">
			<label for='address_city_advanced'>{sugar_translate label='LBL_CITY' module='Accounts'}</label>
    	</div>
	<div class="form-item">
			
{if strlen($fields.address_city_advanced.value) <= 0}
{assign var="value" value=$fields.address_city_advanced.default_value }
{else}
{assign var="value" value=$fields.address_city_advanced.value }
{/if}  
<input type='text' name='{$fields.address_city_advanced.name}' 
    id='{$fields.address_city_advanced.name}' size='30' 
     
    value='{$value}' title=''      >
   	   	</div>
</div>
</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-advanced-search">
	<div class="">
	
      

	{counter assign=index}
	{math equation="left % right"
   		  left=$index
          right=$templateMeta.maxColumns
          assign=modVal
    }

	<div class="col-xs-12">
			<label for='address_state_advanced'>{sugar_translate label='LBL_STATE' module='Accounts'}</label>
    	</div>
	<div class="form-item">
			
{if strlen($fields.address_state_advanced.value) <= 0}
{assign var="value" value=$fields.address_state_advanced.default_value }
{else}
{assign var="value" value=$fields.address_state_advanced.value }
{/if}  
<input type='text' name='{$fields.address_state_advanced.name}' 
    id='{$fields.address_state_advanced.name}' size='30' 
     
    value='{$value}' title=''      >
   	   	</div>
</div>
</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-advanced-search">
	<div class="">
	
      

	{counter assign=index}
	{math equation="left % right"
   		  left=$index
          right=$templateMeta.maxColumns
          assign=modVal
    }

	<div class="col-xs-12">
			<label for='address_postalcode_advanced'>{sugar_translate label='LBL_POSTAL_CODE' module='Accounts'}</label>
    	</div>
	<div class="form-item">
			
{if strlen($fields.address_postalcode_advanced.value) <= 0}
{assign var="value" value=$fields.address_postalcode_advanced.default_value }
{else}
{assign var="value" value=$fields.address_postalcode_advanced.value }
{/if}  
<input type='text' name='{$fields.address_postalcode_advanced.name}' 
    id='{$fields.address_postalcode_advanced.name}' size='30' 
     
    value='{$value}' title=''      >
   	   	</div>
</div>
</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-advanced-search">
	<div class="">
	
      

	{counter assign=index}
	{math equation="left % right"
   		  left=$index
          right=$templateMeta.maxColumns
          assign=modVal
    }

	<div class="col-xs-12">
			<label for='billing_address_country_advanced'>{sugar_translate label='LBL_COUNTRY' module='Accounts'}</label>
    	</div>
	<div class="form-item">
			
{if strlen($fields.billing_address_country_advanced.value) <= 0}
{assign var="value" value=$fields.billing_address_country_advanced.default_value }
{else}
{assign var="value" value=$fields.billing_address_country_advanced.value }
{/if}  
<input type='text' name='{$fields.billing_address_country_advanced.name}' 
    id='{$fields.billing_address_country_advanced.name}' size='30' 
     
    value='{$value}' title=''      >
   	   	</div>
</div>
</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-advanced-search">
	<div class="">
	
      

	{counter assign=index}
	{math equation="left % right"
   		  left=$index
          right=$templateMeta.maxColumns
          assign=modVal
    }

	<div class="col-xs-12">
			<label for='account_type_advanced'>{sugar_translate label='LBL_TYPE' module='Accounts'}</label>
		</div>
	<div class="form-item">
			
{html_options id='account_type_advanced' name='account_type_advanced[]' options=$fields.account_type_advanced.options size="6" class="templateGroupChooser" multiple="1" selected=$fields.account_type_advanced.value}
   	   	</div>
</div>
</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-advanced-search">
	<div class="">
	
      

	{counter assign=index}
	{math equation="left % right"
   		  left=$index
          right=$templateMeta.maxColumns
          assign=modVal
    }

	<div class="col-xs-12">
			<label for='industry_advanced'>{sugar_translate label='LBL_INDUSTRY' module='Accounts'}</label>
		</div>
	<div class="form-item">
			
{html_options id='industry_advanced' name='industry_advanced[]' options=$fields.industry_advanced.options size="6" class="templateGroupChooser" multiple="1" selected=$fields.industry_advanced.value}
   	   	</div>
</div>
</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-advanced-search">
	<div class="">
	
      

	{counter assign=index}
	{math equation="left % right"
   		  left=$index
          right=$templateMeta.maxColumns
          assign=modVal
    }

	<div class="col-xs-12">
			<label for='assigned_user_id_advanced'>{sugar_translate label='LBL_ASSIGNED_TO' module='Accounts'}</label>
    	</div>
	<div class="form-item">
			
{html_options id='assigned_user_id_advanced' name='assigned_user_id_advanced[]' options=$fields.assigned_user_id_advanced.options size="6" class="templateGroupChooser" multiple="1" selected=$fields.assigned_user_id_advanced.value}
   	   	</div>
</div>
</div>

<div>
	<div>
		&nbsp;
	</div>
</div>
{if $DISPLAY_SAVED_SEARCH && !$searchFormInPopup}
<div>
	<div>
		<a class='tabFormAdvLink' onhover href='javascript:toggleInlineSearch()'>
            {capture assign="alt_show_hide"}{sugar_translate label='LBL_ALT_SHOW_OPTIONS'}{/capture}
		{sugar_getimage alt=$alt_show_hide name="advanced_search" ext=".gif" other_attributes='border="0" id="up_down_img" '}&nbsp;{$APP.LNK_SAVED_VIEWS}
		</a><br>
		<input type='hidden' id='showSSDIV' name='showSSDIV' value='{$SHOWSSDIV}'><p>
	</div>
	<div scope='row' width='10%' nowrap="nowrap">
		{sugar_translate label='LBL_SAVE_SEARCH_AS' module='SavedSearch'}:
	</div>
	<div width='30%' nowrap>
		<input type='text' name='saved_search_name'>
		<input type='hidden' name='search_module' value=''>
		<input type='hidden' name='saved_search_action' value=''>
		<input title='{$APP.LBL_SAVE_BUTTON_LABEL}' value='{$APP.LBL_SAVE_BUTTON_LABEL}' class='button' type='button' name='saved_search_submit' onclick='SUGAR.savedViews.setChooser(); return SUGAR.savedViews.saved_search_action("save");'>
	</div>
	<div scope='row' width='10%' nowrap="nowrap">
	    {sugar_translate label='LBL_MODIFY_CURRENT_SEARCH' module='SavedSearch'}:
	</div>
	<div width='30%' nowrap>
        <input class='button' onclick='SUGAR.savedViews.setChooser(); return SUGAR.savedViews.saved_search_action("update")' value='{$APP.LBL_UPDATE}' title='{$APP.LBL_UPDATE}' name='ss_update' id='ss_update' type='button' >
		<input class='button' onclick='return SUGAR.savedViews.saved_search_action("delete", "{sugar_translate label='LBL_DELETE_CONFIRM' module='SavedSearch'}")' value='{$APP.LBL_DELETE}' title='{$APP.LBL_DELETE}' name='ss_delete' id='ss_delete' type='button'>
		<br><span id='curr_search_name'></span>
	</div>
</div>

<div>
<div colspan='6'>
<div style='{$DISPLAYSS}' id='inlineSavedSearch' >
	{$SAVED_SEARCH}
</div>
</div>
</div>

{/if}
{if $displayType != 'popupView'}
<div>
	<div class="submitButtonsAdvanced">
        <input tabindex='2' title='{$APP.LBL_SEARCH_BUTTON_TITLE}' onclick='SUGAR.savedViews.setChooser()' class='button' type='submit' name='button' value='{$APP.LBL_SEARCH_BUTTON_LABEL}' id='search_form_submit_advanced'/>&nbsp;
        <input tabindex='2' title='{$APP.LBL_CLEAR_BUTTON_TITLE}'  onclick='SUGAR.searchForm.clear_form(this.form); if(document.getElementById("saved_search_select")){ldelim}document.getElementById("saved_search_select").options[0].selected=true;{rdelim} return false;' class='button' type='button' name='clear' id='search_form_clear_advanced' value='{$APP.LBL_CLEAR_BUTTON_LABEL}'/>
        {if $DOCUMENTS_MODULE}
        &nbsp;<input title="{$APP.LBL_BROWSE_DOCUMENTS_BUTTON_TITLE}" type="button" class="button" value="{$APP.LBL_BROWSE_DOCUMENTS_BUTTON_LABEL}" onclick='open_popup("Documents", 600, 400, "&caller=Documents", true, false, "");' />
        {/if}
		{if !$searchFormInPopup}
        <a id="basic_search_link" href="javascript:void(0)" accesskey="{$APP.LBL_ADV_SEARCH_LNK_KEY}" >{$APP.LNK_BASIC_SEARCH}</a>
        <span class='white-space'>
            &nbsp;&nbsp;&nbsp;{if $SAVED_SEARCHES_OPTIONS}|&nbsp;&nbsp;&nbsp;<b>{$APP.LBL_SAVED_SEARCH_SHORTCUT}</b>&nbsp;
            {$SAVED_SEARCHES_OPTIONS} {/if}
            <span id='go_btn_span' style='display:none'><input tabindex='2' title='go_select' id='go_select'  onclick='SUGAR.searchForm.clear_form(this.form);' class='button' type='button' name='go_select' value=' {$APP.LBL_GO_BUTTON_LABEL} '/></span>	
        </span>
		{/if}
	</div>
	<div class="help">
	    {if $DISPLAY_SEARCH_HELP}
	    <img  border='0' src='{sugar_getimagepath file="help-dashlet.gif"}' class="help-search">
	    {/if}
    </div>
</div>
{/if}
</div>

<script>
{literal}
	if(typeof(loadSSL_Scripts)=='function'){
		loadSSL_Scripts();
	}
{/literal}	
</script>
<script>
	{literal}
	$(document).ready(function () {
		$( '#basic_search_link' ).one( "click", function() {
			//alert( "This will be displayed only once." );
			SUGAR.searchForm.searchFormSelect('{/literal}{$module}{literal}|basic_search','{/literal}{$module}{literal}|advanced_search');
		});
	});
	{/literal}
</script>{literal}<script language="javascript">if(typeof sqs_objects == 'undefined'){var sqs_objects = new Array;}sqs_objects['search_form_modified_by_name_advanced']={"form":"search_form","method":"get_user_array","field_list":["user_name","id"],"populate_list":["modified_by_name_advanced","modified_user_id_advanced"],"required_list":["modified_user_id"],"conditions":[{"name":"user_name","op":"like_custom","end":"%","value":""}],"limit":"30","no_match_text":"No Match"};sqs_objects['search_form_created_by_name_advanced']={"form":"search_form","method":"get_user_array","field_list":["user_name","id"],"populate_list":["created_by_name_advanced","created_by_advanced"],"required_list":["created_by"],"conditions":[{"name":"user_name","op":"like_custom","end":"%","value":""}],"limit":"30","no_match_text":"No Match"};sqs_objects['search_form_assigned_user_name_advanced']={"form":"search_form","method":"get_user_array","field_list":["user_name","id"],"populate_list":["assigned_user_name_advanced","assigned_user_id_advanced"],"required_list":["assigned_user_id"],"conditions":[{"name":"user_name","op":"like_custom","end":"%","value":""}],"limit":"30","no_match_text":"No Match"};sqs_objects['search_form_parent_name_advanced']={"form":"search_form","method":"query","modules":["Accounts"],"group":"or","field_list":["name","id"],"populate_list":["search_form_parent_name_advanced","parent_id_advanced"],"conditions":[{"name":"name","op":"like_custom","end":"%","value":""}],"required_list":["parent_id"],"order":"name","limit":"30","no_match_text":"No Match"};sqs_objects['search_form_campaign_name_advanced']={"form":"search_form","method":"query","modules":["Campaigns"],"group":"or","field_list":["name","id"],"populate_list":["campaign_id_advanced","campaign_id_advanced"],"conditions":[{"name":"name","op":"like_custom","end":"%","value":""}],"required_list":["campaign_id"],"order":"name","limit":"30","no_match_text":"No Match"};</script>{/literal}