// Breakpoints
$xs-breakpoint: 750px;
$sm-breakpoint: 768px;
$md-breakpoint: 992px;
$lg-breakpoint: 1200px;


// Page
$primary: #778591;
$danger: #F08377;
$danger-hover: #F08377;
$success: #BBE6A5;
$info: #AA9DCC;
$warning: #E6D5A5;

$page-content-spacing: 20px;

$main-bg: #F5F5F5;
$main-alternate-bg: #FFFFFF;

$selection-color: #FFFFFF;
$selection-bg: #F08377;

$page-font-family: 'Lato', Lato, Arial, sans-serif;
$page-font-size: 13px;
$page-p-size: 14px;
$page-title-space: 40px; // normal 40px
$main-font-color: #534D64;

$link-color: $danger;
$link-color-hover: $danger-hover;

$page-title-spacing: 30px; // 30px normal

$panel-bg: #FFFFFF;
$panel-border-bg: #E6E6E6;
$footer-btn-bg: #ddd;

// Scroll bars
$scroll-bar-thumb-color: rgba(165, 232, 214, 1);

// Login
$login-top-bar-bg: #534D64;


// Buttons
$default-btn-color: #F5F5F5;
$default-text-disabled-bg: #F8F8F8;
$default-text-disabled-color: #F8F8F8;
$default-text-disabled-border-color: #E2E7EB;
$default-input-group-color: #C4C3C7;
$default-btn-bg: #94A6B5;
$default-btn-bg-hover: #94A6B5;

$primary-btn-bg: $primary;
$primary-btn-bg-hover: #778591;

$info-btn-bg: $info;
$info-btn-bg-hover: #9589B3;

$danger-btn-bg: $danger;
$danger-btn-bg-hover: #D66C60;

$success-btn-bg: $success;
$success-btn-bg-hover: #6EA674;

$disabled-btn-color: #808F9C;
$disabled-btn-bg: #777777;


// Navbar
$navbar-bg: #534D64;
$navbar-link-color: #FFFFFF;
$navbar-link-color-hover: #F08377;
$navbar-main-menu-bg: #5D5670;
$navbar-menu-link-color: #FFFFFF;
$navbar-menu-link-color-hover: #F08377;
$navbar-menu-seperator: #757083;
$navbar-menu-current-seperator: #F08377;

$navbar-search-bg: #65697A;
$navbar-search-btn-bg: #829EB5;
$navbar-search-text-color: #A2A5AF;
$navbar-search-color: #817D8D;

$navbar-quick-create-link-color: #FFFFFF;
$navbar-quick-create-mobile-btn-bg: #A2B2BF;
$navbar-quick-create-btn-bg: #A2B2BF;
$navbar-quick-create-menu-bg: #829EB5;
$navbar-quick-create-btn-bg-hover: $navbar-quick-create-menu-bg;

$navbar-alert-count-link-color: #FFFFFF;
$navbar-alert-link-color: #FFFFFF;
$navbar-alert-body-color: #000000;
$navbar-alert-title-bg: #5D5670;
$navbar-alert-seperator: $navbar-menu-seperator;
$navbar-alert-count-bg: #F08377;

$mobile-navbar-toolbar-bg: #A2B2BF;

$navbar-height: 90px; /// 90px normal or 80px small
$navbar-mobile-height: 60px; // 60px normal
$navbar-toolbar-height: 48px; // 48px normal
$navbar-topnav-font-size: 13px; /// 13px normal
$navbar-links-padding: 14px; /// 14px normal or 8px small
$home-icon-bg-pos-y:  ($navbar-height / 2.571428571);

// Sidebar
$sidebar-bg: #778591;
$sidebar-btn-bg: #94A6B5;
$sidebar-btn-bg-hover: #8499AB;
$sidebar-btn-color: #FFFFFF;
$side-bar-header-color: #F5F5F5;
$side-bar-link-color-hover: $sidebar-bg;
$side-bar-link-color-hover: #677785;

// Tabs
$active-tab-bg: #778591;
$active-tab-bg-hover:#778591;
$default-tab-bg: #BFCAD3;
$default-tab-bg-hover: #BFCAD3;
$default-tab-color: #FFFFFF;
$action-tab-bg: #F08377;
$action-tab-bg-hover: #F08377;
$action-tab-seperator: #FA988D;
$action-tab-color: #FFFFFF;
$tab-height: 28px; // 32p normal 24px small
$tab-margin-bottom: 5px;

// Panels
$panel-collapsed-bg: #BFCAD3;
$panel-expanded-bg: #66727D;
$panel-height-divisor: 1; // 1 normal  1.25 small

// Detail view
$detail-view-field-bg: #F5F5F5;
$detail-view-module-title-space: 12px;

// List View
$list-view-toolbar-bg: #BFCAD3;
$list-view-header-bg: #778591;
$list-view-button-color: #FFFFFF;
$list-view-link-color: #E56455;
$list-view-link-hover-color: #D66C60;
$list-view-action-button-disabled-bg: #C9D2DA;
$list-view-action-button-bg: #94A6B5;
$list-view-action-menu-bg: #7B8A96;
$list-view-action-menu-link-bg: #677785;
$list-view-action-menu-separator: #93A0AB;
$list-view-choose-columns-displayed: #CCE8E2;
$list-view-choose-columns-hidden: #FFAFA6;
$page-list-view-font-size: 12px;

// Filters / Search
$filters-input-bg: #FFFFFF;

// Form Elements
$input-line-height: 40px;
$button-line-height: 40px;

$input-bg: #D8F5EE;
$input-select-option: #FFFFFF;
$input-select-bg: #A5E8D6;
$input-select-border: #A5E8D6;
$input-border: #A5E8D6;


// tables
$table-header-bg: #778591;
$table-nav-bg: #BFCAD3;
$table-focus-bg: #FAF7CF;
$table-alternate-row-bg: #FFFFFF;


// Dashlets
$dashlet-title-bg: #66727D;
$dashlet-toolbar-bg: #BFCAD3;
$dashlet-pagination-bg: #94A6B5;
$dashlet-header-bg: #778591;

$dashlet-title-height: 40px; // 48px normal 40px small
$dashlet-header-height: 32px; // 32px normal 24px small
$dashlet-header-padding: 5px; // 5 normal 0 small


// Campaigns
$campaign-type-color: #FFFFFF;
$campaign-type-bg: #F08377;
$campaign-type-bg-hover: #808F9C;
$campaign-progression-bg: #F08377;
$campaign-progression-bg-hover: #808F9C;
$campaign-progression-bg-active: #808F9C;

// Cases
$case-internal-bg: #a5e6e6;
$case-internal-color: #534D64;
$case-internal-border-color: transparent;
$case-user-bg: #BBE6A5;
$case-user-color: #534D64;
$case-user-border-color: transparent;
$case-contact-bg: #E6D5A5;
$case-contact-color: #534D64;
$case-contact-border-color: transparent;

// Calendar
$calendar-slot-bg: #F5F5F5;
$calendar-month-slot-height: 52px;
$calendar-today-bg: #fcf8e3;
$calendar-title-bg: #778591;
$calendar-title-height: 48px;
$calendar-user-height: 32px;
$calendar-user-bg: #ABC3D7;
$calendar-user-height: 40px;
$calendar-header-bg: #BFCAD3;
$calendar-month-day-header-bg: #778591;
$calendar-other-month-day-header-bg: #b3c0c7;
$calendar-other-month-day-header-color: #F5F5F5;
$calendar-other-month-day-header-color-hover: #F08377;

$qtip-font-size: 12px;
$qtip-btn-color: #F5F5F5;
$qtip-btn-hover: #B29Eb5;
$qtip-title-bg: #5D5670;
$qtip-title-color: #F5F5F5;
$qtip-content-bg: #65697A;
$qtip-content-color: #F5F5F5;

// Schedule bar
$scheduler-start-color: #79996a;
$scheduler-end-color: #99534d;
$scheduler-free-color: #6a80e6;
$scheduler-free-border-color: #FFFFFF;
$scheduler-busy-color: #e67c73;
